#==============================================================================#
#                                 Secrets                                      #
#==============================================================================#
POSTGRES_PASSWORD=???
POSTGRES_USER=???

#==============================================================================#
#                             Docker variables                                 #
#==============================================================================#
# None for now

#==============================================================================#
#                   Node container related variables                           #
#          See: (1) https://github.com/nodejs/docker-node#nodejs               #
#==============================================================================#
# Prefer LTS
NODE_CONTAINER_TAG=18.12
# Obtained from with container
REMOTE_PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
# See: https://github.com/nodejs/docker-node/blob/main/docs/BestPractices.md#global-npm-dependencies
NPM_CONFIG_PREFIX=/home/node/.npm-global
APP_DIR=/usr/src/app

#==============================================================================#
#                 Postgres container related variables                         #
# See: (2) https://github.com/docker-library/docs/blob/master/postgres/README.md#environment-variables
#==============================================================================#
# Prefer latest stable
POSTGRES_CONTAINER_TAG=15.1

#==============================================================================#
#                     Adminer container related variables                      #
#                  See: (3) https://hub.docker.com/_/adminer                   #
#==============================================================================#
# Also see: https://www.adminer.org/plugins/
# If a plugin requires parameters, put the custom file in /adminer-plugins. See
# link (3) above.
ADMINER_PLUGINS=''
# Also see: https://www.adminer.org/en/#extras
ADMINER_DESIGN=''